<html ng-app='remoteapp'>

<head>
    <meta name='viewport' inital-scale='1' content="width=device-width,user-scalable=0">
    <link rel="stylesheet" href="style.css">
</head>

<body>

<div ng-controller="mainCtrl">
    <h1>{{ id }}</h1>
    <button ng-click="snap()" class="snap">SNAP</button>
    <button ng-click="flash()" class="flash">FLASH</button>

</div>

<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit"/>
</form>

<div id="imgPreview">

</div>


</body>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="angular.js"></script>
<script type="text/javascript" src='angular-route.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js'></script>
<script src='script.js'></script>
</html>
