button{
    width: 49%;
    height: 50px;
    border: none;
    margin: 0px;
    background-color: ghostwhite;
    font-size: 50px;
}

body{
    margin: 0px;
    padding: 0px;
}

.smallimg{
    width: 90%;
    height: 90%;
    display: block;
    text-align: center;
}
.main{
    position: fixed;
    bottom: 0;
    width: 100%;
}